.skillcard {
    width: 18%;
    height: 20vh;
    background-color: var(--secondary-color);
    text-align: center;
    padding: 4% 2%;
    border-radius: .5rem;

    margin: 1%;
}

.skillcard img {
    width: 60%;
    height: 60%;

    display: block;
    margin: 0 auto;
}